/* Custom CSS */
.article-share-links {
    display: flex;
    justify-content: space-around;
}

.article-share {
    font-size: 2em;
}

.article-share.twitter {
    color: #3b5998;
}

.article-share.linkedin {
    color: #1A84BC
}

.article-share.facebook {
    color: #3b5998
}

.article-share.google {
    color: #dd4b39
}

.article-share.buffer {
    color: #37474f;
}

.article-share.comments {
    color: #3b5998
}
