If you liked this article, please share! ❤️

<div class="article-share-links">

    <a data-provider="twitter" href="https://twitter.com/intent/tweet?url={{ .Permalink }}&via=geowarin&text={{ .Title }}"
       class="article-share twitter" target="_blank" title="Share on Twitter">
        {{- partial "svg/icon" "twitter" -}}
    </a>
    <a data-provider="linkedIn" href="https://www.linkedin.com/shareArticle?mini=true&url={{ .Permalink }}&title={{ .Title }}"
       class="article-share linkedin" target="_blank" title="Share on LinkedIn">
        {{- partial "svg/icon" "linkedin" -}}
    </a>
    <a data-provider="facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}&t={{ .Title }}"
       class="article-share facebook" target="_blank" title="Share on Facebook">
        {{- partial "svg/icon" "facebook" -}}
    </a>
    <a data-provider="google" href="https://plus.google.com/share?&url={{ .Permalink }}" class="article-share google" target="_blank" title="Share on Google+">
        {{- partial "svg/icon" "google_scholar" -}}
    </a>
    <a data-provider="buffer" href="https://buffer.com/add?url={{ .Permalink }}&text={{ .Title }}" class="article-share buffer" target="_blank" title="Add to Buffer">
        {{- partial "svg/icon" "clock" -}}
    </a>
</div>
