<div id="img-overlay" style="display: none;">
    <button class="close">X</button>
    <div class="overlay-content">
        <img id="img-content" />
        <div id="img-caption"></div>
    </div>
</div>

<script>
    const figures = document.querySelectorAll('figure > img');
    const overlay = document.querySelector("#img-overlay");
    let currentIndex = 0;

    function showOverlay(index) {
        currentIndex = Math.min(Math.max(index, 0), figures.length - 1);
        const image = figures[currentIndex];
        overlay.style.display = "flex";
        document.querySelector("#img-content").src = image.src;
        const caption = image.parentNode.querySelector('figcaption');
        document.querySelector("#img-caption").innerHTML = caption ? caption.textContent : "";
    }

    figures.forEach((img, index) => {
        img.style.cursor = "pointer";
        img.addEventListener("click", () => showOverlay(index));
    });

    function closeOverlay() {
        overlay.style.display = "none";
    }

    document.addEventListener("keydown", (e) => {
        if (overlay.style.display === "none") {
            return;
        }
        
        if (e.key === 'Escape') {
            closeOverlay();
        } else if (e.key === 'ArrowRight') {
            showOverlay(++currentIndex)
        } else if (e.key === 'ArrowLeft') {
            showOverlay(--currentIndex)
        }
    })
    overlay.addEventListener("click", (e) => {
        if (e.target === e.currentTarget) {
            closeOverlay();
        }
    })
    document.querySelector("#img-overlay .close").addEventListener("click", closeOverlay);
</script>

<script>
    const footnotes = document.querySelectorAll('.footnote-ref');

    for (const footnote of footnotes) {
        const note = new URL(footnote.href).hash.slice(1);
        footnote.title = document.getElementById(note)?.textContent.trim().replaceAll('↩︎', '');
    }
</script>

